<div class="card card-compact bg-base-100 w-52 shadow-xl">
    <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Shoes</h2>
        <p>$500</p>
        <div class="card-actions justify-center">
            <button class="btn btn-sm btn-outline btn-primary" routerLink="/detail" routerLinkActive="active">Details</button>
            <button class="btn btn-sm btn-primary">Buy</button>
        </div>
    </div>
</div>