<div class="hero bg-base-500 min-h-fit my-16">
  <div class="hero-content text-center">
    <div class="max-w-3xl flex flex-col justify-center items-center">
      <h1 class="text-5xl font-bold mb-5">Happy Shopping Keyboard Enthusiasts!</h1>
      <p class="py-6 text-justify">
        ThockyPedia is the ultimate destination for mechanical keyboard lovers. Explore a curated range of keyboards, keycaps, and accessories to elevate your typing experience.
      </p>
      <button class="btn btn-primary">Get to know us better</button>
    </div>
  </div>
</div>
